{% extends "base.html" %}

{% block title %}
    Create Teacher page 
{% endblock %}

{% block content %}
    <section class="section-form">
        <h2>Insert Teacher</h2>
        <button style="border:none;">
            <a style="text-decoration: none; font-size: 18px; color: white; background-color: black; padding: 10px 30px;" href="/teachers">
                Back Teachers Page
            </a>
        </button>
        <div>
            <form class="form-style" method="post" action="">
                {% csrf_token %}
                <div>
                    <input type="text" name="firstname" placeholder="Enter your first name" required>
                </div>
                <div>
                    <input type="email" name="email" placeholder="Enter your email address" required>
                </div>
                <div>
                    <input type="text" name="phone" placeholder="Enter your Phone" required>
                </div>
                <div>
                    <textarea name="address" placeholder="Enter your address" rows="3" required></textarea>
                </div>
                <button style="width: 100%; background-color: green; color: beige; text-align: center; border: none; padding: 15px 0px;" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </section>
{% endblock %}